$primary-color: #FE3912;
$secondary-color: #F26546;
$blue-color: #225675;
$blue-chill-color: #3D8C95;
$west-side-color: #E6873C;

$dark-color: #0B0B0B;
$light-color: #FBFAFA;

$text-light: rgba($dark-color, 0.7);

$white-color: #FFFFFF;
$black-color: #000000;


$gradiant: linear-gradient(93.65deg, #FD4524 0%, #F0684B 100%);

