.list-table .dataTables_wrapper table{
	    margin-bottom: 50px !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled{
	opacity: 0.7;
	cursor: not-allowed;
	pointer-events: none;
}

.campaign-list-table .dataTables_wrapper .dataTables_paginate > .paginate_button.previous::before{
    background: url("../images/icon/ic_chevron.svg") no-repeat !important;
}

.campaign-list-table .dataTables_wrapper .dataTables_paginate > .paginate_button.next::before{
    background: url("../images/icon/ic_chevron.svg") no-repeat !important;
}


.campaign-list-table .dataTables_wrapper table thead tr th, .list-table .dataTables_wrapper table thead tr th{
    padding: 20px 30px !important;
}


.campaign-list-table .dataTables_wrapper table tbody tr td, .list-table .dataTables_wrapper table tbody tr td{
    padding: 16px 30px !important;
    vertical-align: middle;
}


.campaign-list-table .dataTables_wrapper table tbody tr td .product, .list-table .dataTables_wrapper table tbody tr td .product{
    display: flex;
    align-items: center;
}

.campaign-list-table .dataTables_wrapper table tbody tr td .product p, .list-table .dataTables_wrapper table tbody tr td .product p{
    margin-bottom: 0;
}


.list-table .dataTables_wrapper .dataTables_paginate{
    display: flex;
    align-items: center;
    justify-content: center;
}

.campaign-details-main .campaign-details-content .campaign-details{
    flex-wrap:wrap;
}

.campaign-details-main .campaign-details-content .campaign-details .campaign-details-budget h3{
        margin-bottom: 10px;
}

.campaign-details-main .campaign-details-content .campaign-description p:last-child{
    margin-bottom: 0;
}

.header .navbar .navbar-custom{
    padding: 0;
}

/*.list-table .dataTables_wrapper table{
    overflow: auto;
}*/

@media (max-width:1399px){
    .campaign-details-main .campaign-details-content h2{
            font-size: 32px;
    }

    .campaign-details-main .campaign-details-content .campaign-category .campaign-category-list li{
            font-size: 16px;
    }

    .content h3{
        font-size: 26px;
    }
}

@media (max-width:991px) {
    .campaign-list-table .dataTables_wrapper table thead tr th, .list-table .dataTables_wrapper table thead tr th{
        padding: 15px 20px !important;
        font-size: 16px !important;
    }


    .campaign-list-table .dataTables_wrapper table tbody tr td, .list-table .dataTables_wrapper table tbody tr td{
        padding: 15px 20px !important;
        vertical-align: middle;
        font-size: 14px !important;
    }

    .list-table .dataTables_wrapper .dataTables_paginate > .paginate_button{
        padding: 10px 14px;
        font-size: 16px;
        min-width: 140px;
    }

    .list-table .dataTables_wrapper .dataTables_paginate > span .paginate_button{
        padding: 8px 18px;
        font-size: 16px;
    }

    .list-table .dataTables_wrapper table{
        margin-bottom: 30px !important;
    }

    div.dataTables_wrapper div.dataTables_filter{
        padding-top: 0;
    }

    .campaign-details-main .campaign-details-content h2{
        margin-top: 20px;
         font-size: 28px;
    }

    .campaign-details-main .campaign-details-content .campaign-details .campaign-details-budget h3{
        font-size: 18px;
    }

    .campaign-details-main .campaign-details-content h2{
        font-size: 28px;
    }

    .campaign-details-main .campaign-details-content .campaign-category .campaign-category-list{
        margin-bottom: 10px;
    }

    .content h3{
        font-size: 24px;
        margin-bottom: 10px;
    }
}


@media (max-width:767px) {
    .campaign-list-table .dataTables_wrapper table thead tr th, .list-table .dataTables_wrapper table thead tr th{
        padding: 10px 15px !important;
        font-size: 14px !important;
    }


    .campaign-list-table .dataTables_wrapper table tbody tr td, .list-table .dataTables_wrapper table tbody tr td{
        padding: 10px 15px !important;
        vertical-align: middle;
        font-size: 12px !important;
    }

    .list-table .dataTables_wrapper .dataTables_paginate > .paginate_button{
        font-size: 0;
        line-height: 0;
        min-width: auto;
        width: 40px;
        height: 40px;
        border-radius: 100%;
    }

    .list-table .dataTables_wrapper .dataTables_paginate > .paginate_button::before{
        top: 50%;
        left: 50% !important;
        transform: translate(-50%, -50%);
    }

    .list-table .dataTables_wrapper .dataTables_paginate > .paginate_button.next::before{
        top: 50%;
        right: 50%;
        transform: translate(-50%, -50%) scale(-1);
    }

    .list-table .dataTables_wrapper .dataTables_paginate > span .paginate_button{
        padding: 8px 16px;
        font-size: 14px;
    }

    .list-table .dataTables_wrapper table{
        margin-bottom: 10px !important;
    }

    .list-table .dataTables_wrapper .dataTables_info{
        font-size: 14px;
        line-height: 1.4;
        padding-top: 10px;
    }

    .campaign-activity .nav{
        margin-bottom: 15px;
    }

    .campaign-activity .nav.nav-pills .nav-item .nav-link{
        padding: 10px;
    }

    .campaign-details-main .campaign-details-content .campaign-details .campaign-details-budget h3{
        font-size: 16px;
    }

    .campaign-details-main .campaign-details-content .campaign-details .campaign-details-budget p{
         font-size: 12px;
    }

    .campaign-details-main .campaign-details-content h2{
        font-size: 26px;
    }

    .campaign-details-main .campaign-details-content .campaign-details{
        gap:15px;
    }

    .campaign-details-main .campaign-details-content .campaign-details .campaign-details-budget p{
        margin-bottom: 10px;
    }

        .content h3{
            font-size: 22px;
        }
}

@media (max-width:575px) {
    .custom-select-group {
        margin-top: 0 !important;
    }
    .custom-select-group .form-select{
        margin-bottom: 20px;
         margin-top: 20px;
    }
    .campaign-details-main .campaign-details-content .campaign-details .campaign-details-budget h3{
          font-size: 14px; 
    }
    .campaign-details-main .campaign-details-content .campaign-category .campaign-category-list li{
         font-size: 12px;
    }
}

@media only screen and (min-width: 1399px) and (max-width: 1499px)  {
    .dashboard-cards .card-container .dashboard-card .media .media-body span{
        font-size: 16px;
    }
}