    /*left slide menu*/
/*[data-kt-app-layout=dark-sidebar] .app-sidebar{
    background-color: #f55345 !important;
}*/
/*left slide menu*/
/*
[data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item .menu-link .menu-title {
    color: white !important;
}
[data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item .menu-link .menu-arrow:after {
    color: white !important;
    background-color: white !important;
}*/

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: #f55345 !important;
    border: 1px solid #f55345 !important;
}

/*.btn.btn-danger .custom-button-css {
    background-color : #f55345 !important;
}
*/

[data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item .menu-link.active {
    transition: color 0.2s ease;
    background-color: #f55345 !important;
    color: var(--bs-primary-inverse);
}

button.swal2-confirm.btn.fw-bold.btn-danger.custom-button-css {
    background: #f55345 !important;
}

/*Button primary color changes start */
.btn.primary-btn,
.btn-check:checked + .btn.btn-active-primary, .btn-check:active + .btn.btn-active-primary, .btn.btn-active-primary:focus:not(.btn-active), .btn.btn-active-primary:hover:not(.btn-active), .btn.btn-active-primary:active:not(.btn-active), .btn.btn-active-primary.active, .btn.btn-active-primary.show, .show > .btn.btn-active-primary,
.form-check-input:checked{
    background-color: #f55345 !important;
}
.btn-check:checked + .btn.primary-btn, .btn-check:active + .btn.primary-btn, .btn.primary-btn:focus:not(.btn-active), .btn.primary-btn:hover:not(.btn-active), .btn.primary-btn:active:not(.btn-active), .btn.primary-btn.active, .btn.primary-btn.show, .show > .btn.primary-btn{
    background-color: #ea4133 !important;
    border-color: #ea4133 !important;
}
.btn-check:checked + .btn.btn-active-color-primary i, .btn-check:checked + .btn.btn-active-color-primary .svg-icon, .btn-check:active + .btn.btn-active-color-primary i, .btn-check:active + .btn.btn-active-color-primary .svg-icon, .btn.btn-active-color-primary:focus:not(.btn-active) i, .btn.btn-active-color-primary:focus:not(.btn-active) .svg-icon, .btn.btn-active-color-primary:hover:not(.btn-active) i, .btn.btn-active-color-primary:hover:not(.btn-active) .svg-icon, .btn.btn-active-color-primary:active:not(.btn-active) i, .btn.btn-active-color-primary:active:not(.btn-active) .svg-icon, .btn.btn-active-color-primary.active i, .btn.btn-active-color-primary.active .svg-icon, .btn.btn-active-color-primary.show i, .btn.btn-active-color-primary.show .svg-icon, .show > .btn.btn-active-color-primary i, .show > .btn.btn-active-color-primary .svg-icon,
.btn-check:checked + .btn.btn-active-icon-primary i, .btn-check:checked + .btn.btn-active-icon-primary .svg-icon, .btn-check:active + .btn.btn-active-icon-primary i, .btn-check:active + .btn.btn-active-icon-primary .svg-icon, .btn.btn-active-icon-primary:focus:not(.btn-active) i, .btn.btn-active-icon-primary:focus:not(.btn-active) .svg-icon, .btn.btn-active-icon-primary:hover:not(.btn-active) i, .btn.btn-active-icon-primary:hover:not(.btn-active) .svg-icon, .btn.btn-active-icon-primary:active:not(.btn-active) i, .btn.btn-active-icon-primary:active:not(.btn-active) .svg-icon, .btn.btn-active-icon-primary.active i, .btn.btn-active-icon-primary.active .svg-icon, .btn.btn-active-icon-primary.show i, .btn.btn-active-icon-primary.show .svg-icon, .show > .btn.btn-active-icon-primary i, .show > .btn.btn-active-icon-primary .svg-icon{
   color: #f55345 !important;
}
/*Button primary color changes end */

.image-input-wrapper img {
    object-fit: contain;
}
/*DataTable lenght css start*/
.dataTables_length label {
    color: #b5b5c3;
    font-weight: 500 !important;
}

.dataTables_length select {
    background-color: var(--bs-gray-100);
    border-color: var(--bs-gray-100);
    color: var(--bs-gray-700);
    transition: color 0.2s ease;
    padding: 0.775rem 1rem;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.5;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
}

.dataTables_length select:focus {
    background-color: var(--bs-gray-200);
    border-color: var(--bs-gray-200);
    color: var(--bs-gray-700);
}

table.dataTable.no-footer {
    border-bottom: 1px solid #f3f3f3;
}
/*DataTable lenght css end*/

.swal2-popup.swal2-toast .swal2-icon{
    border-width: 2px;
    width: 1.75em;
    min-width: 1.75em;
    height: 1.75em;
}

.delete-btn-custom {
   background : #ffe8e3;
}

#plan_duration-error {
    order: 2;
    width: 100%;
}

#plan-error {
    order: 3;
    width: 100%;
}

#image-error {
    position: absolute;
    bottom: -180px;
    left: -122px;
    width: 190px;
}

/*dkp scroll test*/
.scroll-y-custom {
    overflow-y: hidden !important;
    position: relative !important;
}

td {
    text-transform:uppercase;
}
/* added by npp start */
.text-center{
    text-align: center !important;
}
/* added by npp end */

.text-group{
    display:flex;
    align-items: center;
    gap:15px;
    margin-bottom: 10px;
}

.text-group label{
    margin-bottom: 0;
    min-width: 15%;
}

.text-group p{
    margin-bottom: 0;
     max-width: 75%;
}

.product_status {
    position: absolute;
    bottom: -5px;
    right: 15px;
}
/*
.products-title {
    background-color: #ea4133 !important;
    border-color: #ea4133 !important;
}*/


.custom-logout-btn{
    padding: 0;
    outline: none;
    background: transparent;
    font-size: 12px;
    border: 0;
    border-bottom: 1px solid transparent;
}

.custom-logout-btn:hover{
   color: #f96c59;
   border-color:#f96c59;
}


.body-change {
  font-family: "Poppins";
  color: #0B0B0B;
  background-color: #FBFAFA;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;

}
/*
button.btn.primary-btn.me-5 {
    color: white;
}*/

button.btn.primary-btn.me-2 {
    color: white;
}

.search_name_css label.error {
    position: absolute;
}


.swiper-wrapper {
    align-items: center !important;
}

.swiper-slide-active {
    text-align: center !important;
}

.text-danger {
    color: #dc3545!important;
}


.swal2-title br{
    display: none;
}

.swal2-title .alert {
    margin-bottom: 0;
    background: transparent !important;
    border: none;
    padding: 0;
}