footer{

    .news-latter{
        padding: 150px 0;
        background-image: url("../images/home/news-latter-back.png");
        background-size: cover;
        background-repeat: no-repeat;

        .news-latter-content{
            background: rgba(255, 255, 255, 0.5);
            border: 2px solid #FFFFFF;
            backdrop-filter: blur(5px);
            border-radius: 10px;
            padding: 50px 85px;
            h3{
                font-weight: 600;
                font-size: 36px;
                line-height: 54px;
                margin-bottom: 20px;
                max-width: 410px;
            }

            p{
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 40px;
            }

            .input-group{
            
                border-radius: 5px;
                width: auto;
                
                input{
                    border: 1px solid rgba(11, 11, 11, 0.1);
                    border-right: 0;
                    box-shadow: none !important;
                    padding: 10px 20px;
                    padding-right: 0;
                    border-radius: 5px;
                    outline: none;
                    border: none;
                    &::placeholder{
                        color: rgba($dark-color, 0.5);
                        font-size: 16px;
                    }
    
                    &:focus{
                        
                        outline: none;
                    }
                }
    
                button{
                    background: $gradiant;
                    border: none;
                    outline: none;
                    border: 1px solid rgba(11, 11, 11, 0.1);
                    border-radius: 5px;
                    padding: 0 20px;
                    color: $white-color;
                    font-size: 16px;
                }
            }

            img{
                position: absolute;
                top: 0;
                right: 0;

            }
        }
    }

    .join-with-us{
        background-image: url("../images/home/join-us.png");
        background-repeat: no-repeat;
        background-size: contain;

        @media (max-width:1299px) {
            background-image: none;
        }

        h2{
            margin-bottom: 30px;
        }
    }


    .main-footer{
        border-top: 1px solid rgba(11, 11, 11, 0.1);

        .footer-contact{
            .logo{
                margin-bottom: 30px;
            }

            p{
                font-weight: 400;
                font-size: 16px;
                line-height: 30px;
                margin-bottom: 10px;
            }

            .read-more{
                background: linear-gradient(93.65deg, #FD4524 0%, #F0684B 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-weight: 600;
                font-size: 14px;
                line-height: 21px;
            }
        }

        .footer-links{
            h5{
                font-weight: 600;
                font-size: 18px;
                line-height: 27px;
                margin-bottom: 30px;
            }

            ul{
                li{
                    a{
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 26px;
                        color: $text-light;
                        margin-bottom: 20px;
                    }
                }
            }
        }


        .copyright{
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-top: 1px solid rgba(11, 11, 11, 0.1);
            margin-top: 46px;
            padding: 42px 0;

            @media (max-width:991px) {
                flex-wrap: wrap;
            }

            .social-icon{
                display: flex;
                align-items: center;
                gap: 20px;

                @media (max-width:991px) {
                   width: 100%;
                   justify-content: center;
                }
            }

            p{
                font-size: 16px;
                margin-bottom: 0;

                @media (max-width:1199px) {
                    font-size: 14px;
                }
            }

            .list-unstyled{
                display: flex;
                align-items: center;
                margin-bottom: 0;
                li{
                   
                    a{
                        color: $text-light;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 1.5;

                            @media (max-width:1199px) {
                                font-size: 14px;
                            }
                    }
                }
            }
        }
    }


}