*, html{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

body{
    font-family: 'Poppins';
    color: $dark-color;
    background-color: $light-color;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}


a{
    text-decoration: none;
}


img{
    max-width: 100%;
}

main{
    position: relative;
    overflow-x: hidden;
    max-width: 1920px;
    margin: auto;
}

.section-title{
    font-weight: 700;
    font-size: 48px;
    font-size: calc(26px + (48 - 26) * ((100vw - 300px) / (1920 - 300)));
    line-height: 1.5;
    color: $dark-color;
    margin-bottom: 20px;
}

.primary-btn{
    background: linear-gradient(93.65deg, #FD4524 0%, #F0684B 100%);
    border-radius: 5px;
    padding: 14px 20px;
    color: $white-color;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    width: auto;

    &:hover{
        color: $white-color;
    }
}

.section-top-space{
    padding-top: calc(50px + (100 - 50) * ((100vw - 300px) / (1920 - 300)));
}

.section-bottom-space{
    padding-bottom: calc(50px + (100 - 50) * ((100vw - 300px) / (1920 - 300)));
}

p{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    color: $text-light;
}

.banner-title{
    font-weight: 700;
    font-size: calc(28px + (60 - 28) * ((100vw - 300px) / (2000 - 300)));
    line-height: 1.5;  
    margin-bottom: 30px;
    span{
        background: $gradiant;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }


}


.section-heading{
    margin-bottom: 20px;
    font-weight: 600;
    font-size: calc(22px + (36 - 22) * ((100vw - 300px) / (2000 - 300)));
    line-height: 1.5;

    span{
        background: $gradiant;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}


.social-icon{
    .icon-box{
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba(11, 11, 11, 0.1);
        border-radius: 50%;
        background-color: $white-color;
        img{
            max-width: 20px;
            max-height: 20px;
        }
    }
}

// h1 {
//     background: $gradiant;
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;
// }