.campaign{

    h3{
        font-weight: 700;
        font-size: 30px;
        line-height: 1.5;
        letter-spacing: 0.007em;
        margin-bottom: 20px;
    }

    .campaign-tab{
        .nav {
            background-color: $white-color;
            box-shadow: 0px 4px 4px rgba(11, 11, 11, 0.03);
            border-radius: 20px;
            &.nav-pills {
                .nav-item{
                    .nav-link{
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 24px;
                        color: rgba($dark-color,0.5);
                        padding: 20px 20px;
                        position: relative;
                        &.active{
                            background: transparent;
                            color: $dark-color;

                            &::after{
                                width: calc(100% - 60px);
                                opacity: 1;
                                visibility: visible;
                            }
                        }

                        &::after{
                            content: "";
                            position: absolute;
                            bottom: 0;
                            left: 20px;
                            width: 0;
                            background: $blue-chill-color;
                            border-radius: 20px;
                            height: 4px;
                            opacity: 0;
                            visibility: hidden;
                            transition: all 0.3s;
                        }
                    }
                }
            }
        }
    }

    form{
        .input-group {
            &.serch-input{
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
                background: $white-color;
                border-radius: 20px;
                overflow: hidden;
                input{
                    padding: 20px 30px;
                    color: rgba($dark-color,0.5);
                    border: none;
                }
                button{
                    background-color: $white-color;
                    outline: none;
                    border: none;
                    font-size: 24px;
                    padding-right: 30px;
                    margin-left: 0 !important;
                    color: $blue-chill-color;
                }
            }
        }
    }

    .tab-content{
        background: $white-color;
        box-shadow: 0px 10px 20px rgba(11, 11, 11, 0.1);
        border-radius: 20px;
        padding: 30px;

        .table-heading{
          h4{
            font-weight: 600;
            font-size: 24px;
            line-height: 36px;
            margin-bottom: 30px;
            color: $dark-color;
          }
        }
    }
}